@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply motion-safe:scroll-smooth;
		font-size: 16px;
		font-weight: 400;
		@screen md {
			font-size: 18px;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 500;
	}
	p {
		max-width: 700px;
	}
}