---
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/Section.astro";

---

<PageLayout title="GO2 - About MegaSense">
  <Section
    id="about-page"
    className="bg-go2-blue-light pb-4"
  >
	</Section>
  <Section
		id="about-megasense"
		className="bg-go2-blue-light pb-8"
	>
		<h3 class="text-2xl">
			About MegaSense
		</h3>
		<div class="flex flex-col gap-4">
			<p class="text-center text-sm">Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.</p>
		</div>
	</Section>
  <Section
    id="about-text-1"
    className="pt-4 pb-8"
  >
    <h4 class="text-l font-bold w-full text-start">
      Heading 2 in prose
    </h4>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
  </Section>
  <Section
    id="about-text-2"
    className="pt-4"
  >
    <h4 class="text-l font-bold w-full text-start">
      Heading 3 in prose
    </h4>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
  </Section>
</PageLayout>