---
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/Section.astro";

---

<PageLayout title="GO2 - About MegaSense">
  <Section
    id="about-page"
    className="bg-go2-blue-light pb-4"
  >
	</Section>
  <Section
		id="about-megasense"
		className="bg-go2-blue-light pb-8"
	>
		<h3 class="text-2xl">
			About MegaSense
		</h3>
		<div class="flex flex-col gap-4 sm:w-1/2 items-center">
			<p class="text-center text-sm">A Finnish Startup selling advanced climate and air quality data analytics, and unprecedented spatial granularity to deliver unparalled accuracy and real-time insights to consumers, businesses and authorities.</p>
		</div>
	</Section>
  <Section
    id="about-text-1"
    className="pt-4 pb-8"
  >
    <div class="flex flex-col gap-4">
      <p class="text-xs text-center">
        MegaSense is at the forefront of deep tech innovation, harnessing the power of AI  to address complex challenges of air pollution and climate change and revolutionize industry emission controls.
      </p>
      <p class="text-xs text-center">Our deeptech solutions:</p>
      <ul class="text-xs list-disc px-4 sm:px-8">
        <li>Models simulate transformaton of pollutants and greenhouse gases in the atmosphere. </li>
        <li>Generates high resolution forescasting and insights at street and single building level. </li>
        <li>Makes it easy for users to interpret and act upon the air quality and climate change information. </li>
        <li>MegaSense cloud installations make it ready for global deployments.</li>
      </ul>
    </div>
  </Section>
  <Section
    id="about-text-2"
    className="pt-4"
  >
    <div class="flex flex-col gap-4">
      <h4 class="text-l font-bold w-full text-center">
        Impact Beyond Innovation:
      </h4>
      <p class="text-xs text-center">
        At MegaSense, we don't just innovate; we transform every day living  and push the boundaries of what's possible. Our deep tech solutions are designed to enhance quality of life, increase health and happiness and improve environmental sustainability
      </p>
      <h4 class="text-l font-bold w-full text-center">
        Join the Deep Tech Climate Revolution:
      </h4>
      <p class="text-xs text-center">
        Discover how MegaSense is shaping the future. Whether you're a potential  investor or client, we invite you to be part of the journey toward a tech-powered tomorrow.
      </p>
      <h4 class="text-l font-bold w-full text-center">
        Connect with Us:
      </h4>
      <p class="text-xs text-center">For inquiries, partnerships, or more information, contact us at </p>
      <p class="text-xs text-center">oliver.waring@megasense.com</p>
      <p class="text-xs text-center">+447970715361</p>
      <p class="text-xs text-center">andrew.rebeiro-hargrave@megasense.com</p>
      <p class="text-xs text-center">+358400397702</p>
    </div>
  </Section>
</PageLayout>