---
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/Section.astro";
import { Image } from "astro:assets";
import healthHero from "@images/health-hero.png";
import happiness from "@images/happiness.png";
import heart from "@images/heart.png";
import climateChange from "@images/climate-change.png";
import GenericReadMoreCard from "@components/GenericReadMoreCard.astro";

---

<PageLayout title="GO2 - Benefits">
  <Section
    id="benefits-page"
    className="pb-[0px] bg-go2-blue-light"
  >
	</Section>
  <Section
		id="benefit-start"
		className="bg-go2-blue-light"
	>
		<Image
			src={healthHero}
			alt="Birds singing"
			class="w-full max-w-none max-h-hero-image sm:w-[500px] sm:mb-8"
		/>
		<h3 class="text-2xl">
			Benefits
		</h3>
		<div class="flex flex-col gap-4 items-center sm:w-1/2">
			<p class="text-center">Fresh air helps you lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.</p>
		</div>
	</Section>
  <Section
    id="pollution"
    className="bg-white"
  >
    <GenericReadMoreCard
      image={happiness}
      altText="Test tube"
      sectionTitle="happiness"
      heading="Enhanced Quality of Life"
      content="Cleaner air contributes to a better quality of life by creating a more pleasant and healthy environment for individuals and communities. This includes improved outdoor air quality for recreational activities and a reduction in the negative impacts of air pollution on daily life."
      readMoreContent="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
    />
  </Section>
  <Section
    id="health"
    className="bg-go2-blue-light"
  >
    <GenericReadMoreCard
      image={heart}
      altText="Heart"
      sectionTitle="Health"
      heading="Increased Life Expectancy"
      content="Reducing air pollution can lead to an increase in life expectancy. Lower levels of pollution mean a decreased risk of premature death and improved quality of life."
      readMoreContent="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
    />
  </Section>
  <Section
    id="climate-change"
    className="bg-white"
  >
    <GenericReadMoreCard
      image={climateChange}
      altText="Global weather"
      sectionTitle="Climate change"
      heading="Decarbonisation"
      content="Your efforts to reduce air pollution will coincide with strategies to mitigate climate change, promoting a more sustainable and resilient decarbonised environment."
      readMoreContent="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
    />
  </Section>
</PageLayout>