---
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/Section.astro";
import { Image } from "astro:assets";
import healthHeroImage from "@images/health-hero-image.png";
import GenericGlobeCard from "@components/GenericGlobeCard.astro";

---

<PageLayout title="GO2 - Health">
  <Section
    id="health-page"
    className="pb-10 bg-go2-blue-light"
  >
	</Section>
  <Section
		id="health-start"
		className="bg-go2-blue-light"
	>
		<Image
			src={healthHeroImage}
			alt="Health illustration placeholder"
			class="w-full max-w-none max-h-hero-image"
		/>
		<h3 class="text-2xl">
			Health and happiness
		</h3>
		<div class="flex flex-col gap-4">
			<p class="text-center">Fresh air helps you lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.</p>
		</div>
	</Section>
  <Section
    id="pollution"
    className="bg-white"
  >
    <GenericGlobeCard
      sectionTitle="Pollution"
      heading="What are the pollutants that make for bad air?"
      content="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
      readMoreContent="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
    />
  </Section>
  <Section
    id="health"
    className="bg-go2-blue-light"
  >
    <GenericGlobeCard
      sectionTitle="Health"
      heading="Fresh air, health and happiness"
      content="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
      readMoreContent="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
    />
  </Section>
  <Section
    id="climate-change"
    className="bg-white"
  >
    <GenericGlobeCard
      sectionTitle="Climate change"
      heading="Extreme weather events and air quality"
      content="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
      readMoreContent="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
    />
  </Section>
</PageLayout>