---
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/Section.astro";

---

<PageLayout title="GO2 - Privacy policy">
  <Section
    id="privacy-page"
    className="pb-10"
  >
	</Section>
  <Section
		id="privacy-policy"
		className="bg-white"
	>
		<h3 class="text-2xl">
			Privacy policy
		</h3>
		<div class="flex flex-col gap-4">
			<p class="text-center text-sm">Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.</p>
		</div>
	</Section>
  <Section
    id="privacy-text-1"
  >
    <h4 class="text-l font-bold w-full text-start">
      Heading 2 in prose
    </h4>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
  </Section>
  <Section
    id="privacy-text-2"
  >
    <h4 class="text-l font-bold w-full text-start">
      Heading 3 in prose
    </h4>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
    <p class="text-xs">
      Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.
    </p>
  </Section>
</PageLayout>