---
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/Section.astro";

---

<PageLayout title="GO2 - Privacy policy">
  <Section
    id="privacy-page"
    className="bg-go2-blue-light pb-4"
  >
	</Section>
  <Section
		id="privacy-policy"
		className="bg-go2-blue-light pb-8"
	>
		<h3 class="text-2xl">
			Privacy policy
		</h3>
		<div class="flex flex-col gap-4 sm:w-1/2">
			<p class="text-center text-sm">Effective Date: 26.10.2023</p>
    <p class="text-center text-sm">This Privacy Policy ("Policy") is provided on behalf of Metatavu, the developer of the GO2 application ("GO2," "we," "our," or "us"). This Policy is intended to inform users of the GO2 application ("you" or "user") about how we collect, use, disclose, and protect your personal information. By using the GO2 application, you agree to the terms and practices outlined in this Policy.</p>
		</div>
	</Section>
  <Section
    id="privacy-text-1"
    className="pt-4 pb-8"
  >
    <div class="flex flex-col gap-4 sm:w-2/3">
      <h4 class="text-l font-bold w-full">
        Information We Collect
      </h4>
      <p class="text-xs">1.1. Personal Information</p>
      <p class="text-xs">GO2 may collect the following personal information when you use our application:</p>
      <p class="text-xs">Account Information: When you create a personal user account, we collect information such as your name, email address, and a password. Those are intended to be used for the application functionality and any application functionality related structures.</p>
      <p class="text-xs">Location Information: GO2 requires access to your device's location to provide features like map service operation, air pollution tracking and clean air route planning. This information includes foreground precise location data. You may choose to enable or disable location sharing through the app / phone location settings. Please note that enabling location services is essential for the core functionality of GO2.</p>
      <p class="text-xs">Background Location Information: GO2 requires access to your device’s background location to provide a background exposure collection feature functionality. This information includes both background and foreground precise location data. You may choose to enable or disable background location sharing through the app / phone location settings. Please note that enabling background location services is essential for the “Passive exposure collection” application feature.</p>
      <p class="text-xs">Usage Information: We may collect data about how you use the application, such as the features you interact with and the routes you plan. Information may only be used for application development and application functionality improvements.</p>
      <p class="text-xs">1.2. Non-Personal Information</p>
      <p class="text-xs">We may also collect non-personal information, such as aggregated and anonymized data that does not identify you personally. This information helps us improve our services and enhance your experience.</p>
      <p class="text-xs">2. How We Use Your Information</p>
      <p class="text-xs">We use the collected information for the following purposes:</p>
      <p class="text-xs">- To create and maintain your personal user account.</p>
      <p class="text-xs">- To provide you with access to the features and services offered by GO2.</p>
      <p class="text-xs">- To improve the functionality and performance of the application.</p>
      <p class="text-xs">- To communicate with you regarding your account, updates, and other important information.</p>
      <p class="text-xs">To conduct research and analysis for the development of our application.</p>
      <p class="text-xs">To provide customer support.</p>
      <p class="text-xs">3. Data Sharing</p>
      <p class="text-xs">GO2 may share your personal information in the following circumstances:</p>
      <p class="text-xs">With your consent: We may share your information if you have given us your explicit consent to do so.</p>
      <p class="text-xs">Service Providers: We may engage third-party service providers to assist with various aspects of our service, including but not limited to hosting, data analytics, and customer support.</p>
      <p class="text-xs">Legal Obligations: We may disclose your information to comply with legal obligations, such as responding to legal requests, protecting our rights, and addressing safety or security concerns.</p>
      <p class="text-xs">Business Transfers: In the event of a merger, acquisition, sale, or other business transfer, your information may be transferred to the acquiring entity.</p>
      <p class="text-xs">4. Your Choices</p>
      <p class="text-xs">You have the following rights and choices with respect to your personal information:</p>
      <p class="text-xs">Account Deletion: You may delete your user account and all associated data from the GO2 application's interface.</p>
      <p class="text-xs">Location Settings: You can control whether the application has access to your device's location through your device's settings.</p>
      <p class="text-xs">5. Security</p>
      <p class="text-xs">We take reasonable measures to safeguard your personal information and protect it from unauthorized access, disclosure, alteration, or destruction.</p>
      <p class="text-xs">6. Changes to This Policy</p>
      <p class="text-xs">We may update this Policy to reflect changes in our practices and services. Any updates will be posted on our website and will become effective immediately upon posting.</p>
      <p class="text-xs">7. Contact Us</p>
      <p class="text-xs">If you have any questions or concerns about this Policy or your personal information, please contact us at <a href="mailto:devs@metatavu.fi">devs@metatavu.fi</a>.</p>
      <p class="text-xs">By using the GO2 application, you acknowledge that you have read and understood this Privacy Policy and agree to its terms and practices. Your continued use of GO2 constitutes your acceptance of any future updates to this Policy.</p>
      <p class="text-xs">This Privacy Policy was last updated on 26.10.2023.</p>
    </div>
  </Section>
</PageLayout>