---
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/Section.astro";
import { Image } from "astro:assets";
import scienceHeroSubpage from "@images/science-hero-subpage.png";
import accuracy from "@images/accuracy.png";
import sensors from "@images/sensors-on-shaded.png";
import peopleFlow from "@images/people-flow.png";
import GenericReadMoreCard from "@components/GenericReadMoreCard.astro";

---

<PageLayout title="GO2 - Research">
  <Section
    id="research-page"
    className="bg-go2-blue-light pb-[0px]"
  >
	</Section>
  <Section
		id="research-start"
		className="bg-go2-blue-light"
	>
		<Image
			src={scienceHeroSubpage}
			alt="Cloud and connectivity"
			class="w-full max-w-none max-h-hero-image sm:w-[500px] sm:mb-8"
		/>
		<h3 class="text-2xl">
			Research
		</h3>
		<div class="flex flex-col gap-4 items-center sm:w-1/2">
			<p class="text-center">cloud platform</p>
			<p class="text-center">Sensing infrastructure</p>
			<p class="text-center">People Flow</p>
		</div>
	</Section>
  <Section
    id="megasense-method"
    className="bg-white"
  >
    <GenericReadMoreCard
      image={accuracy}
      altText="Multiple points connected"
      sectionTitle="Platform"
      heading="AI data model for air quality forecasts"
      content="MegaSense powerful data model is flexible, scalable and accommodates evolving technologies, data sources, and forecasting methodologies for houses, streets, cities and countries."
      readMoreContent="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
    />
  </Section>
  <Section
    id="data-cloud"
    className="bg-go2-blue-light"
  >
    <GenericReadMoreCard
      image={sensors}
      altText="Cloud"
      sectionTitle="Sensors"
      heading="MegaSense Air Quality Monitors"
      content="Dedicated portable air quality monitors for mobiles and fixed use . Our devices measure all major pollutants, and connect to your smartphone for easy monitoring."
      readMoreContent="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
    />
  </Section>
  <Section
    id="team"
    className="bg-white"
  >
    <GenericReadMoreCard
      image={peopleFlow}
      altText="Stack of paperwork"
      sectionTitle="People flow"
      heading="Smooth and efficient navigation"
      content="Modelling Traffic. Emissions and promoting  sustainable transport. Wayfinding in crowded spaces and improving indoor air quality. Making  Public Events and Gatherings safer with temporary Air Quality Impact analytics."
      readMoreContent="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
    />
  </Section>
</PageLayout>