---
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/Section.astro";
import { Image } from "astro:assets";
import scienceHeroImage from "@images/science-hero-image.png";
import GenericGlobeCard from "@components/GenericGlobeCard.astro";

---

<PageLayout title="GO2 - Science">
  <Section
    id="science-page"
    className="pb-10"
  >
	</Section>
  <Section
		id="science-start"
		className="bg-white"
	>
		<Image
			src={scienceHeroImage}
			alt="Science illustration placeholder"
			class="w-full max-w-none max-h-hero-image"
		/>
		<h3 class="text-2xl">
			Science
		</h3>
		<div class="flex flex-col gap-4">
			<p class="text-center">Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.</p>
		</div>
	</Section>
  <Section
    id="megasense-method"
    className="bg-go2-blue-light"
  >
    <GenericGlobeCard
      sectionTitle="The Megasense Method"
      heading="Obsessed with scientific accuracy"
      content="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
      readMoreContent="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
      toggleId="megasense-method-toggle"
    />
  </Section>
  <Section
    id="data-cloud"
    className="bg-white"
  >
    <GenericGlobeCard
      sectionTitle="Data cloud"
      heading="Real-time, real-aworld air quality data "
      content="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
      readMoreContent="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
      toggleId="data-cloud-toggle"
    />
  </Section>
  <Section
    id="team"
    className="bg-go2-blue-light"
  >
    <GenericGlobeCard
      sectionTitle="Team"
      heading="2,000+ peer-reviewed papers, 5 nationalities and 1 goal"
      content="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
      readMoreContent="Lorem ipsum dolorem ipso facto. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid."
      toggleId="team-toggle"
    />
  </Section>
</PageLayout>