---
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/Section.astro";
import { Image } from "astro:assets";
import supportHeroImage from "@images/support-hero-image.png";
import AccordionItem from "@components/AccordionItem.astro";
import SectionTitle from "@components/SectionTitle.astro";
import ActionButton from "@components/ActionButton.astro";
import globePlaceholder from "@images/globe-placeholder.png";

---

<PageLayout title="GO2 - Support">
  <Section
    id="support-page"
    className="pb-10"
  >
	</Section>
  <Section
		id="support-start"
		className="bg-white"
	>
		<Image
			src={supportHeroImage}
			alt="Science illustration placeholder"
			class="w-full max-w-none max-h-hero-image"
		/>
		<h3 class="text-2xl">
			Support
		</h3>
		<div class="flex flex-col gap-4">
			<p class="text-center">Ut enim ad minim veniam, quis nostrud. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid.</p>
		</div>
	</Section>
  <Section
    id="support-faq"
  >
  <!-- TODO: Should this have the full faq? -->
    <AccordionItem
      summary="What are PM2.5, PM10, CO2 and NOx?"
      content="Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat."
    />
  </Section>
  <Section
    id="customer-support"
    className="bg-white"
  >
    <SectionTitle
      title="Customer support"
      className="text-go2-blue"
    />
    <Image
      src={globePlaceholder}
      alt="Globe placeholder"
      class="w-4/12 max-w-none"
    />
    <h3 class="text-2xl text-black text-center">
      How can we help you?
    </h3>
    <div class="flex flex-col gap-4 text-black text-center">
      <p>If you couldn’t find an answer to your problem above, you can always contact us.</p>
    </div>
    <ActionButton
      title="Contact support"
    />
  </Section>
</PageLayout>