---
type Props = {
  className?: string;
  summary: string;
  content: string;
};

const { className, summary, content } = Astro.props;
---
<!-- TODO: trainsition not working here -->
<details
  class="bg-go2-blue-light px-16 py-1 rounded-2xl transition-all ease  details-[open]: max-h-screen"
  class:list={[className]}
>
  <summary class="list-none font-bold">{summary}</summary>
  <p class="my-4">{content}</p>
</details>