---
import { Image } from "astro:assets";

type Props = {
  title: string;
  href?: string;
  icon?: ImageMetadata;
  dense?: boolean;
  className?: string;
};

const { title, href, icon, className, dense } = Astro.props;
---

<a
  href={href}
  class="rounded-full bg-go2-blue text-[#fff] flex flex-row gap-2"
  class:list={[
    dense ? "px-4 h-6" : "px-6 py-3 uppercase",
    className,
  ]}
>
  {title}
  {icon && <Image src={icon} alt=""/>}
</a>