---
import { Image } from 'astro:assets';
import SectionTitle from './SectionTitle.astro';
import ActionButton from './ActionButton.astro';
import globe from "@images/globe.png";
import ScrollInAnimation from './animations/ScrollInAnimation.astro';

---

<SectionTitle
  title="Availability"
  className="text-go2-blue"
/>
<Image
  src={globe}
  alt="Globe"
  class="w-4/12 max-w-none sm:w-1/12"
/>
<ScrollInAnimation>
  <h3 class="text-2xl text-black text-center mb-5">
    Currently available in London
  </h3>
  <div class="flex flex-col gap-4 text-black text-center">
    <p>If you live outside London, don’t worry. We’re constantly expanding coverage.</p>
    <p>Join the waitlist to be the first know.</p>
  </div>
</ScrollInAnimation>
<ActionButton
  title="Join the waiting list"
  className="bg-go2-blue text-white"
/>
