---
import { Image } from "astro:assets";

type Props = {
  toggleId: string;
  content: string;
  icon?: ImageMetadata;
  className?: string;
};

const { icon, className, content, toggleId } = Astro.props;

// TODO: button click should toggle hidden class, transform the button contents to read less and change the icon.

---
<>
  <p
    id="hidden-content"
    class="my-4 hidden"
  >
    {content}
  </p>
  <button
    id={`${toggleId}-toggle-button`}
    class="rounded-full bg-go2-blue px-6 py-3 uppercase flex items-center gap-2"
    class:list={[
      className,
    ]}
  >
    Read more
    {icon && <Image src={icon} alt=""/>}
  </button>

  <!-- <script>
    const button = document.getElementById(`${toggleId}`)!;

    button.addEventListener("click", (event) => {
      console.log("clicked");
      const contentElement = document.getElementById("hidden-content")!;
      contentElement.classList.toggle("hidden");
    })
  </script> -->
</>
