---

import SectionTitle from "./SectionTitle.astro";
import downloadIcon from "@images/download-icon.svg";
import FadeInAnimation from "./animations/FadeInAnimation.astro";
import DownloadButton from "./DownloadButton.astro";

---

<SectionTitle
  title="Membership"
  className="text-go2-blue my-8"
/>
<h3 class="text-2xl text-black text-center">
  Join the Movement Now
</h3>
<div class="flex flex-col gap-4 text-black text-center items-center sm:w-2/3 xl:w-1/3">
  <p>It is  time for environmental justice. For your own health and happiness, your loved ones well being, and your communities productivity.  Start with a 3-month free trial and if you enjoy using GO2 – and we think you will – switch to a Pro subscription for £2.99/mo or £35/year.*</p>
</div>
<DownloadButton
  title="Download for free"
  className="bg-go2-blue text-white"
  icon={downloadIcon}
/>
