---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@fontsource/lexend";
import "@styles/base.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="text-black" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Happiness is in the air" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>

<script src="../utils/animations/fade-in.ts"/>
<script src="../utils/animations/scroll-in.ts"/>
